################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bookstore/.vs/Bookstore
/Bookstore/bin/Debug/net8.0
